<%= form_for(@note) do |f| %>

  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, "Note Content (REQUIRED)" %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :in_reply_to, "In Reply To (optional)" %>
    <%= f.url_field :in_reply_to %>
  </div>

  <div class="field checkbox">
    <%= f.label :private, "Private Note?" %>
    <%= f.check_box :private %>
  </div>

  <div class="actions">
    <%= link_to "Cancel", notes_path %>
    <%= f.submit %>
  </div>
<% end %>
