<% if note.public? || logged_in? %>
  <% if action_name == "index" %><li><% end %>

    <article id="note_<%= note.id %>" class="h-entry hentry as-object as-note">
      <header>

        <% if is_a_reply?(note) %>
          <p class="post-meta reply-context">
            <b>In Reply To</b>
            <%= link_to in_reply_to_urls(note) %>
          </p>
        <% end %>

        <h1 class="p-name entry-title">
          <%= link_to "Edit", edit_note_url(note.params), class: "edit" if logged_in? %>
        </h1>
      </header>

      <div class="e-content entry-content p-name entry-title">
        <%= simple_format note.content %>
      </div>

      <footer class="post-meta">
        <p>
          <%= link_to "Published", note.path, rel: "bookmark", class: "u-url url as-verb as-verb-published" %>

          <%= time_tag note.published_at, class: "dt-published published" do %>
            <%= small_word_tag "on" %>
            <%= human_readable_date note.published_at %>

            <%= small_word_tag "at" %>
            <%= human_readable_time note.published_at %>
          <% end %>

          <%= small_word_tag "by" %>

          <span class="h-card vcard p-author author p-contributor">
            <%# all on one long line to avoid trailing whitespace inside of <a> tag %>
            <%= link_to setting(:author_url), rel: "me", class: "u-url url" do %><span class="p-name fn as-actor"><%= setting :author_name %></span><% end %>
          </span>

          <% unless note.source.blank? %>
            <span>
              using <%= note.source.html_safe %>
            </span>
          <% end %>
        </p>

        <% unless note.twitter_url.blank? %>
          <div class="syndication">
            <%= link_to_syndication(note).html_safe %>
          </div> <!-- .syndication -->
        <% end %>
      </footer>
    </article>

  <% if action_name == "index" %></li><% end %>
<% end %>
