<% if note.public? || logged_in? %>
  <% if action_name == "index" %><li><% end %>

    <article id="note_<%= note.id %>" class="h-entry hentry as-object as-note">
      <header>
        <h1 class="p-name entry-title">
          <%= link_to "Edit", edit_note_url(note.params), class: "edit" if logged_in? %>
        </h1>
      </header>

      <div class="e-content entry-content p-name entry-title">
        <%= raw note.content %>
      </div>

      <footer>
        <p>
          <a href="<%= note.path %>" rel="bookmark" class="u-url url as-verb as-verb-published">Published</a>

          <%= time_tag note.created_at, class: "dt-published published" do %>
            <%= small_word_tag "on" %>
            <%= human_readable_date note.created_at %>

            <%= small_word_tag "at" %>
            <%= human_readable_time note.created_at %>
          <% end %>

          <%= small_word_tag "by" %>

          <span class="h-card vcard p-author author p-contributor">
            <a href="<%= setting :author_url %>" rel="me" class="u-url url">
              <span class="p-name fn as-actor">
                <%= setting :author_name %>
              </span>
            </a>
          </span>
        </p>

        <% unless note.in_reply_to.blank? %>
          <p>
            <b>In Reply To:</b>
            <a href="<%= note.in_reply_to %>" class="u-in-reply-to">
              <%= note.in_reply_to.gsub(/\//, "/<wbr />").html_safe %>
            </a>
          </p>
        <% end %>
      </footer>
    </article>

  <% if action_name == "index" %></li><% end %>
<% end %>
