<% if note.public? || logged_in? %>
  <% if action_name == "index" %><li><% end %>

    <article class="h-entry hentry note">
      <div class="p-name e-content entry-content entry-title">
        <p>
          <%= note.content %>
        </p>
      </div>

      <footer>
        <%= render partial: "/shared/published_meta",
                   locals: { note: note } %>
      </footer>
    </article>

    <% unless note.in_reply_to.blank? %>
      <aside class="previous-in-thread">
        <p>
          <b>In reply to:</b>
          <a href="<%= note.in_reply_to %>" rel="prev external" class="in-reply-to">
            <%= note.in_reply_to %>
          </a>
        </p>
      </aside>
    <% end %>
    
    <%= render partial: "admin_nav",
               locals: { note: note } %>

  <% if action_name == "index" %></li><% end %>
<% end %>
