<% if status.public? || logged_in? %>
  <% if action_name == "index" %><li><% end %>

    <article class="h-entry hentry status">
      <div class="p-entry-title e-entry-content entry-content entry-title">
        <p>
          <%= status.content %>
        </p>
      </div>

      <footer>
        <%= render partial: "/shared/published_meta",
                   locals: { status: status } %>
      </footer>
    </article>

    <% unless status.in_reply_to.blank? %>
      <div>
        <p class="in-reply-to">
          <b>In reply to:</b>
          <a href="<%= status.in_reply_to %>" rel="prev external">
            <%= status.in_reply_to %>
          </a>
        </p>
      </div>
    <% end %>


    <%= render partial: "admin_nav",
               locals: { status: status } %>

  <% if action_name == "index" %></li><% end %>
<% end %>
