<p id="notice"><%= notice %></p>

<p>
  <%= @status.content %>
</p>

<% unless @status.in_reply_to.blank? %>
  <p>
    <b>In reply to:</b>
    <%= @status.in_reply_to %>
  </p>
<% end %>

<p>
  <%= @status.private? ? "Private" : "Public" %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
