<p>
  <a href="<%= note_path(note) %>" rel="bookmark" class="as-verb as-verb-published">Published</a>

  <time pubdate class="dt-published published">
    <%= small_word_tag "on" %>
    <%= human_readable_date(note.created_at) %>

    <%= small_word_tag "at" %>
    <%= human_readable_time(note.created_at) %>
  </time>

  <%= small_word_tag "by" %>
  <%= render partial: "/shared/author" %>
</p>
