<!DOCTYPE html>
<html dir="ltr" lang="en-US" id="<%= controller_name %>" class="<%= action_name %>">

<head>
  <meta charset="utf-8">
  <title><%= site_title %></title>
  <meta name="viewport" content="width=device-width" />
  <meta name="viewport" content="user-scalable=no"   />

  <%= stylesheet_link_tag "application", media: "all"      %>
  <%= javascript_include_tag(write_action? ? "write" : "read") %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <nav role="navigation">
      <ul>
        <li><%= link_to "Home", setting(:hub_url), rel: "home"   %></li>
        <li><%= link_to post_type.capitalize.pluralize, root_url %></li>
      </ul>

      <% if logged_in? %>
        <ul class="admin">
          <li>   <%= link_to_unless_current "Settings",                settings_url                 %>    </li>
          <li><b><%= link_to_unless_current "NEW&nbsp;POST".html_safe, send("new_#{post_type}_url") %></b></li>
        </ul>
      <% end %>
    </nav>
  </header>

  <section>
    <%= yield %>
  </section>

</body>
</html>
