<!DOCTYPE html>
<html>
<head>
  <title>Homesteading Status</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav role="navigation">
      <ul>
        <li><a href="<%= CONFIG_HUB_URL %>" rel="home">Home</a></li>
        <li><a href="<%= statuses_path %>">Statuses</a></li>
        <li><a href="<%= new_status_path %>">New Status</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <%= yield %>
  </section>

</body>
</html>
