<!DOCTYPE html>
<html dir="ltr"
      lang="en-US"
      id="<%= controller_name %>"
      class="<%= action_name %>"
      prefix="og: http://ogp.me/ns#">

<!--
All site content is copyright (c) <%= Time.now.year %>
<%= setting :author_name %> unless explicity stated otherwise
-->

<head>
  <meta charset="utf-8">
  <title><%= site_title %></title>

  <!-- General meta tags -->
  <meta name="application-name"    content="<%= setting :site_title %>" />
  <meta name="generator"           content="homesteading.io" />
  <meta name="description"         content="<%= page_description @post %>" />

  <meta name="viewport"            content="user-scalable=no"   />
  <meta name="viewport"            content="width=device-width, initial-scale=1.0" />

  <!-- Backward compatibility: Facebook (Open Graph) -->
  <meta property="og:type"         content="blog" />
  <meta property="og:url"          content="<%= canonical_url %>" />
  <meta property="og:image"        content="<%=  %>" />
  <meta property="og:title"        content="<%= site_title %>" />
  <meta property="og:description"  content="<%= page_description @post %>" />
  <meta property="fb:app_id"       content="" />

  <!-- Backward compatibility: Twitter Cards -->
  <%# shared properties across the whole site %>
  <meta name="twitter:site"        content="@<%= setting :twitter_username %>" />
  <meta name="twitter:creator"     content="@<%= setting :twitter_username %>" />

  <!-- Backward compatibility: Atom -->
  <%= auto_discovery_link_tag(:atom, feed_url, title: setting(:site_title)) %>

  <!-- Canonical URLs -->
  <%= rel_canonical_link_tag @post %>
  <%= shorturl_link_tag      @post %>

  <!-- fav and touch icons -->
  <link rel="shortcut icon"                                href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="/apple-touch-icon-72-precomposed.png"  />
  <link rel="apple-touch-icon-precomposed"                 href="/apple-touch-icon-57-precomposed.png"  />

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag(write_action? ? "write" : "read") %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <nav role="navigation">
      <ul>
        <li><%= link_to "Home", setting(:hub_url), rel: "home"   %></li>
        <li><%= link_to post_type.capitalize.pluralize, root_url %></li>
      </ul>

      <% if logged_in? %>
        <ul class="admin">
          <li>   <%= link_to_unless_current "Settings",                settings_url                 %>    </li>
          <li><b><%= link_to_unless_current "NEW&nbsp;POST".html_safe, send("new_#{post_type}_url") %></b></li>
        </ul>
      <% end %>
    </nav>
  </header>

  <section>
    <%= yield %>
  </section>

  <footer role="contentinfo">
    <p><%= license_text %>.</p>
  </footer>
</body>
</html>
